.battlePageDiv {
    height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    left: 15%;
    right: 15%;
}

.battleSection {
    height: 70vh;
    background: url("./images/bb3.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
}

.pokemonDiv {
    height: 340px;
    position: absolute;
    top: 30%;
    left: 15%;
    animation: bounce 2s infinite alternate;
}

.enemyPokemonDiv {
    height: 340px;
    position: absolute;
    top: 5%;
    right: 15%;
    animation: bounce .8s infinite alternate;
}

.gone {
    display: none;
}

.attacking {
    animation: attack 2s 1 alternate;
}

.attackingEnemy {
    animation: enemyAttack 2s 1 alternate;
}

.pokemonStatus, .enemyPokemonStatus {
    height: 15%;
    width: 25%;
    background-color: #f7f7f9;
    border: 5px solid #1b351a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    z-index: 1000;
}

.pokemonStatus {
    align-self: flex-end;
    margin-right: 20%;
}

.enemyPokemonStatus {
    margin-left: 20%;
}

.pokemonNameAndType {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pokemonHealthBarContainer {
    width: 80%;
    background-color: black;
    height: 1.3rem;
}

.pokemonHealthBar {
    height: 100%;
    color: white;
}

.menuSection {
    height: 30vh;
    background-color: #83aaa9;
    color: #f7f7f9;
    justify-content: center;
    align-items: center;
}

.battleText {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    color: #f7f7f9;
}

.battleText1 {
    text-align: center;
}

.attacks {
    width: 50%;
    height: 90%;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    color: #f7f7f9;
    font-size: small;
}

.attack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #367330;
    border-radius: 1rem;
}

.attack:hover {
    cursor: pointer;
}

.attackTop {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.attackName {
    font-size: large;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.attackPower {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attackDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.switchPokemons {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switchPokemonsText {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: x-large;
    text-align: center;
    padding-top: 1rem;
}

.pokemonOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.pokemonOptions:hover {
    cursor: pointer;
}

.pokemonOption {
    flex-grow: 1;
    max-height: 250px;
    max-width: 250px;
}

.winScreen {
    z-index: 300000;
    height: 100vh;
    background-color: #83aaa9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6%;
}

.winScreenTrainerPic {
    height: 30%;
    width: fit-content;
}

.winScreenTitle {
    color: #f7f7f9;
    font-size: xx-large;
}

.winScreenPokemonContainer {
    height: 20%;
}

.winScreenPokemon {
    height: 100%;
    width: fit-content;
}

.playAgain {
    width: 40%;
    height: 5%;
    background-color: #367330;
    border: 1px solid black;
    border-radius: 1rem;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes attack {
    0% { transform: translateY(0); }
    70% { transform: translateX(-40px) translateY(30px);}
    100% { transform: translateY(-100px) translateX(100px)}
}

@keyframes enemyAttack {
    0% { transform: translateY(0); }
    70% { transform: translateX(40px) translateY(-30px);}
    100% { transform: translateY(100px) translateX(-100px)}
}

@media screen and (max-width: 1400px) {
    .pokemonDiv {
        left: 5%;
    }

    .enemyPokemonDiv {
        right: 5%;
    }
}

@media screen and (max-width: 1200px) {
    .pokemonDiv {
        left: 15%;
    }

    .enemyPokemonDiv {
        right: 15%;
    }

    .battlePageDiv {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .pokemonDiv {
        left: 5%;
    }

    .enemyPokemonDiv {
        right: 5%;
    }

    .attackName {
        font-size: medium;
    }
}

@media screen and (max-width: 800px) {
    .attackName {
        font-size: small;
    }

    .playAgain {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .attackTop {
        flex-direction: column;
    }

    .pokemonDiv {
        height: 200px;
        top: 40%;
    }

    .enemyPokemonDiv {
        height: 200px;
        top: 15%;
    }

    .pokemonNameAndType {
        font-size: small;
    }

    .pokemonOption {
        width: 33%;
    }

    .winScreenPokemon {
        height: 68%;
    }
}

@media screen and (max-width: 550px) {
    .attacks {
        font-size: x-small;
    }

    .pokemonStatus {
        width: 35%;
        margin-right: 10%;
    }

    .enemyPokemonStatus {
        width: 35%;
        margin-left: 10%;
    }

    .attacks {
        padding: .3rem;
        grid-gap: .3rem;
    }
}

@media screen and (max-width: 450px) {
    .switchPokemons {
        width: 30%;
    }

    .switchPokemonsText {
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .pokemonOptions {
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
        height: 80%;
    }

    .pokemonOption {
        height: 33%;
        width: fit-content;
        flex-grow: 0;
    }

    .attacks {
        flex-grow: 1;
    }

    .winScreenPokemon {
        height: 50%;
    }
}

@media screen and (max-width: 400px) {
    .pokemonDiv {
        height: 130px;
        top: 45%;
    }

    .enemyPokemonDiv {
        height: 130px;
        top: 15%;
    }
}